.list {
    padding: 20px;
    background-color: rgba(221, 221, 221, 0.507);
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #999;
    list-style-type: none;
    flex-basis: 45%;
}

@media(max-width: 767px) {
    .list {
        flex-basis: 100%;
    }
}

.list--januszed {
    background-size: cover;
    background-position: center center;
    background-image: url("/images/Background_januszed.jpg");
}

.list__item {
    font-size: 24px;
}

.list__span {
    display: inline-block;
    background-color: rgba(204, 204, 204, 0.5);
    text-align: center;
    width: 100%;
    padding: 5px;
}

.list__span--range {
    background-color: rgba(66, 66, 66, 0.5);
    color: #fff;
    margin-bottom: 10px;
}