.list {
    padding: 20px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #999;
    list-style-type: none;
    flex-basis: 45%;
}

@media(max-width: 767px) {
    .list {
        flex-basis: 100%;
    }
}

.list__item {
    font-size: 24px;
}

.list__span {
    display: inline-block;
    background-color: #ccc;
    text-align: center;
    width: 100%;
    padding: 5px;
}

.list__span--range {
    background-color: #eee;
    margin-bottom: 10px;
}