.list {
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 360px;
    background-color: rgba(221, 221, 221, 0.507);
    border-radius: 10px;
    list-style-type: none;
    flex-basis: 50%;
}

@media(max-width: 767px) {
    .list {
        flex-basis: 100%;
    }
}

.list__item {
    font-size: 24px;
}

.list__span {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.list__span--range {
    background-color: #eee;
    text-align: center;
    margin-bottom: 10px;
}